<p id="notice"><%= notice %></p>

<p>
  <strong>Frågetyp</strong>
  <%= @question_type.question_type_name %>
</p>

<%= link_to 'Redigera', edit_question_type_path(@question_type) %> |
<%= link_to 'Tillbaka', question_types_path %>
